<!-- _includes/header.html -->
<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="MAY LAB Logo">
    </a>
    <nav class="nav-links">
      <a href="{{ '/news/' | relative_url }}">News</a>
      <a href="{{ '/about.html' | relative_url }}">Abouts</a>
      <a href="{{ '/values.html' | relative_url }}">Values</a>

      <div class="dropdown">
        <a href="#" class="dropbtn">People</a>
        <div class="dropdown-content">
          <a href="{{ '/people/pi.html' | relative_url }}">Principal Investigator</a>
          <a href="{{ '/people/team.html' | relative_url }}">Team Members</a>
          <a href="{{ '/people/collaborators.html' | relative_url }}">Collaborators</a>
        </div>
      </div>

      <a href="{{ '/research.html' | relative_url }}">Research</a>
      <a href="{{ '/publications.html' | relative_url }}">Publications</a>
    </nav>
  </div>
</header>

