<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="MAY LAB Logo">
    </a>

    <button class="menu-toggle" aria-label="Toggle Menu">&#9776;</button>

    <nav class="nav-links">
      <a href="{{ '/news/' | relative_url }}">News</a>
      <a href="{{ '/about.html' | relative_url }}">About</a>
      
      <a href="{{ '/people/people.html' | relative_url }}">People</a>
      
      <a href="{{ '/research.html' | relative_url }}">Research</a>
      <a href="{{ '/publications.html' | relative_url }}">Publications</a>
    </nav>
  </div>
</header>


